* {
  margin: 0;
  padding: 0;
}

all {
  align-items: center;
  overflow: visible;
}

body {
  background-color: #ffffff;
  width: 100vw;
}
 
main {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 50px;
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
}

h1{
  font-family: Android;
  font-size: 64px;
  color: #48C3E8;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.slidecontainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 15px;
  /* width: 100%; */
  margin-top: 50px;
  font-family: Android;
  color: #48C3E8;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slidelabel {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slidelabel p {
  min-width: 20%;
}

#s1angle, #s2angle, #s3angle, #s5angle, #s1angle {
  padding-right: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #48C3E8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #48C3E8;
  cursor: pointer;
}

#servolabels {
font-family: Robot;
}

/*Video Overlay Attempt*/
#videoBox {
  border-right: solid 1px #000;
  width: 100%;
  margin-top: 50px;
  /* margin-right: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  /* margin-top: 50px; */
  /* margin: 100px; */
  width: 75%;
  height: 800px;
}

.parent h1 {
  padding-bottom: 20px;
}

.image1 {
  
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
.image2 {
  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.controls {
  margin-top: 50px;
  padding: 20px;
}

@font-face {
  font-family: Android;
  src: url(nilebotassets/android_7.ttf);
}

@font-face {
  font-family: Robot;
  src: url(nilebotassets/pdark.ttf);
}

  